<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
    <welcome-file>vediolist</welcome-file>
  </welcome-file-list>
	<servlet>
		<servlet-name>vediolistteaching</servlet-name>
		<servlet-class>service.vedio_service</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>vediolistteaching</servlet-name>
		<url-pattern>
			/teaching
		</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>vediolistrecommend</servlet-name>
		<servlet-class>service.vedio_service_r</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>vediolistrecommend</servlet-name>
		<url-pattern>
			/recommend
		</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>vediolisthealth</servlet-name>
		<servlet-class>service.vedio_service_h</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>vediolisthealth</servlet-name>
		<url-pattern>
			/health
		</url-pattern>
	</servlet-mapping>
</web-app>
